DEBUG=False
TIMEZONE=Europe/Moscow

DJANGO_SECRET_KEY=django-insecure-_i9#x=m5r8*=lo!!v$-*9x+0aoe44pow^%#v@62p@!6a4(l=as

DJANGO_ALLOWED_HOSTS=["localhost", "127.0.0.1"]
CSRF_TRUSTED_ORIGINS=["http://localhost", "http://127.0.0.1"]

DB_NAME=name
DB_USER=user
DB_PASSWORD=password
DB_HOST=postgres
DB_PORT=5432

STRIPE_PUBLIC_KEY_USD=
STRIPE_SECRET_KEY_USD=
STRIPE_PUBLIC_KEY_EUR=
STRIPE_SECRET_KEY_EUR=

APP_URL=127.0.0.1